POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nestdb
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nestdb"

JWT_SECRET="mfoewit43o5"

CLAMAV_PORT=3310

MINIO_BUCKET=uploads
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
